<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <configSections>
    <section name="plugins"
          type="TestPlugin.PluginSectionHandler, TestPlugin"
              />
  </configSections>
  <plugins>
    <plugin type="CustomPlugin.EmailPlugin, CustomPlugin" />
  </plugins>
</configuration>